<h1>Forgot Your Password?</h1>
<h2>Enter your email to get a new one!</h2>
<%= bootstrap_form_tag url: password_resets_path do |f| %>

  <%= f.email_field :email %>

  <%= f.submit "Reset My Password" %>
<% end %>
