<h2>About</h2>

<div class="about">
  <p>This is a project managment tool I made as part of <%= link_to "CodeCore's", "https://codecore.ca/" %> bootcamp program. </p>

  <p>This web app is meant to provide a place to manage various project. People can create projects which have tasks and discussions. This provides a place where all team members can check to find out the current status of their projects. </p>

  <p>This app is made with Ruby on Rails and follows the standard Rails archtecture. The relationship between the comments and the project is the most complex. If you are interested you can find the erd <%= link_to "here", "https://github.com/EricRichardson/project_manager/blob/master/erd.pdf" %>, along with the rest of the source code.</p>

  <p>If you are interested in learning more about me as a developer I will refere you to <%= link_to "my blog", "http://www.ericonrails.com/"%></p>
</div>
