<h2>About</h2>

<%= image_tag "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAg5AAAAJDZkNGUyNjhiLTIzMjgtNGRiOS1hYmIwLTI3Njg5NjRiODA4ZA.jpg" %>

<p>This is a project managment tool I made as part of <%= link_to "CodeCore", "https://codecore.ca/" %></p>
