<h1>Welcome to my Project Manager tool</h1>

<p>If you are curious about why I made this app I would reccomend the <%= link_to "about", about_path %> page.</p>

<p>Feel free to check out and use the site. If you have any comments feel free to email me at: driftingeric@gmail.com</p>
